@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 640px
Celular: 640px até 768px
Tablet: 768px até 1024px
Laptop: 1024px até 1280px
Grandes telas: acima de 1280px
*/

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}